name: mobile
description: Mini booking system (Flutter)
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.6.1
  go_router: ^14.2.0
  graphql_flutter: ^5.2.0-beta.7
  domain:
    path: ../packages/domain
  api_client:
    path: ../packages/api_client

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
